* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #c8c8ef;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: #2a2a40;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: #4e4e80;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #6a6ab0;
}

#next-btn {
  background-color: #00bfa6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
}

#next-btn:hover {
  background-color: #00a08a;
}
